*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    text-align: center;
}
.container{
    margin: auto;
    margin-top: 5vh;
    box-shadow: 5px 5px 10px;
    padding: 20px;
    width: min(500px,100%);
    border-radius: 10px;
}
.converter_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input{
    font-size:18px;
    width: 100px;
    height: 20px;
    text-align: center;
    padding: 10px 0px;
}
#resultBinary,#resultNumber{
    border: 1px solid rgb(0, 0, 0);
    font-size:18px;
    width: 100px;
    text-align: center;
    padding: 10px 0px;
    height: 20px;
}